############# server ##############
node_modules

# output
out
dist
*.tgz

# code coverage
coverage
*.lcov

# logs
logs
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# caches
.eslintcache
.cache
*.tsbuildinfo

# IntelliJ based IDEs
.idea

# Finder (MacOS) folder config
.DS_Store

db.sqlite
db.sqlite-shm
db.sqlite-wal

############# app ##############
# Miscellaneous
*.class
*.lock
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code related
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json

# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
doc/api/
flutter_*.png

# Android related
android/build/
android/app/build/
android/.gradle/
android/local.properties
android/gradlew
android/gradlew.bat
android/key.properties
*.jks
local.properties

# iOS related
ios/build/
ios/Pods/
ios/Flutter/Flutter.framework/
ios/Flutter/Flutter.podspec
ios/Flutter/.last_build_id
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Runner.xcworkspace/xcshareddata/
ios/Runner.xcodeproj/xcshareddata/

# macOS related
macos/build/
macos/Flutter/ephemeral/

# Web related
web/build/
node_modules/

# Environment Variables
.env
.env.local
.env.*.local

# Coverage
coverage/   
